.discipline-container {
    padding: 100px 50px 50px 50px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
  }

  .discipline-block {
    background-color: var(--light-blue);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  .discipline-block:hover {
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.3);
  }

  .discipline-title-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 15px;
  }

  .discipline-title-link:hover {
    text-decoration: underline;
  }

  .discipline-content {
    cursor: pointer;
  }

  .discipline-title {
    color: var(--accent);
    font-size: 1.5em;
  }

  .discipline-description {
    color: var(--white);
    font-size: 1em;
    line-height: 1.6;
  }

  .syllabus {
    margin-top: 15px;
    display: none;
  }

  .syllabus-item {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .show-syllabus {
    display: block;
  }
