<div class="body">
    <section id="home" class="section">
        <div class="content">
            <h1>Bem-vindo ao Futuro da Educação</h1>
            <p>Descubra um novo universo de aprendizado com Raiders Academy. Onde a tecnologia encontra o conhecimento.
            </p>
            <a href="#about" class="btn">Explore o Amanhã</a>
        </div>
    </section>

    <section id="about" class="section">
        <div class="content">
            <h1>Conheça a Raiders Academy</h1>
            <p> Somos uma plataforma educacional, estruturada no formato de fórum online, que tem como
                objetivo central criar um ambiente colaborativo e interativo entre alunos.
                Nosso principal objetivo é promover um espaço virtual que facilite a interação contínua entre
                estudantes, permitindo que compartilhem suas vivências acadêmicas, questionamentos, materiais de estudo
                e boas práticas. Ao incentivar essa troca, buscamos destacar a importância da colaboração, interação e
                networking como elementos essenciais para o sucesso acadêmico e profissional.</p>
        </div>
    </section>

    <section id="features" class="section">
        <div class="content">
            <h1> Cursos existentes no fórum</h1>
            <div class="feature-grid">
                <div class="feature-item">
                    <div class="feature-icon">🧠</div>
                    <h3>Desenvolvimento de Software Multiplataforma</h3>
                    <p>Criar e gerenciar sistemas e aplicações de software, abordando linguagens de programação,
                        engenharia de software, testes e desenvolvimento ágil.</p>
                </div>
                <div class="feature-item">
                    <div class="feature-icon">🌐</div>
                    <h3>Ciência de Dados Para Negócios</h3>
                    <p>Analisar grandes volumes de dados para extrair informações úteis, envolvendo estatísticas,
                        machine learning, programação e ferramentas de análise de dados.</p>
                </div>
                <div class="feature-item">
                    <div class="feature-icon">🤖</div>
                    <h3>Controle de Obras</h3>
                    <p>Gerenciar e supervisionar a execução de obras de construção civil, abordando planejamento,
                        orçamentos, cronogramas e controle de qualidade e segurança no canteiro de obras.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works" class="section">
        <div class="content">
            <h1>Como Funciona</h1>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/images/carousel/1.png" alt="Conheça a Raiders Academy">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/carousel/2.png" alt="Passo 1: Como usar a plataforma">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/carousel/3.png" alt="Passo 2: Cadastre-se">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/carousel/4.png" alt="Passo 3: Poste sua pergunta">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/images/carousel/5.png" alt="Passo 4: Espere a resposta">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/carousel/6.png" alt="Passo 5: Curta a resposta">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

</div>