<header class="header">
        
  <div class="logo-container">
      <img class="logo" src="/img/Raiders.LogoBranco.png" alt="">
      <h1 class="company-name">Raiders Academy</h1>
  </div>
  <div class="navbar-trigger"></div>
<nav class="navbar">
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/recursos">Recursos</a></li>
    <li><a href="/como-funciona">Como Funciona</a></li>
  </ul>
  <div class="auth-buttons">
      <button class="auth-btn login-btn" onclick="showLoginModal()">Login</button>
      <button class="auth-btn signup-btn" onclick="showSignupModal()">Cadastrar</button>
  </div>
</nav>
</header>
