.cursos-container {
    margin-top: 80px;
    padding: 20px;
    background-color: #000020;
  }


  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff
    ;
  }
  
  ul {
    list-style-type: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  li:hover{
    color: #27c9df;
  }
  
  div {
    background-color: #000020;
    padding: 10px;
    margin-top: 5px;
  }
  
  div:hover {
    background-color: #000020;
  }
  