<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/register" method="POST">
                    <h1>Crie sua conta!</h1><br>
                    <span>Faça seu cadastro e explore a Raiders Academy.</span>
                    <input type="text" name="name" placeholder="Nome Completo" required/>
                    <input type="email" name="email" placeholder="Email" required/>
                    <input type="password" name="password" placeholder="Senha" required/>
                    <br>
                    <label>
                        <input type="radio" name="perfil" value="estudante" required>Estudante
                    </label>
                    <label>
                        <input type="radio" name="perfil" value="professor" required>Professor
                    </label>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="POST">
                    <h1>Já possui conta?</h1>
                    <span>Faça login para continuar sua jornada conosco.</span>
                    <input type="email" name="email" placeholder="Email" required/>
                    <input type="password" name="password" placeholder="Senha" required/>
                    <a href="#">Esqueceu sua senha?</a>
                    <button type="submit">Entrar</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Bem-vindo de volta!</h1>
                        <p>Estamos prontos para ajudar você a continuar estudando.</p>
                        <button class="ghost" id="signIn">Faça seu login</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Olá, estudante!</h1>
                        <p>Insira seus dados e inicie sua jornada de aprendizado ao lado de outros estudantes.</p>
                        <button class="ghost" id="signUp">Crie sua conta</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const signUpButton = document.getElementById('signUp');
            const signInButton = document.getElementById('signIn');
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });

            signInButton.addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });
        });
    </script>
</body>
</html>
