<!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="./style.css"> -->

<main>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#">
				<h1>Crie sua conta!</h1><br>
				<span>Faça seu cadastro e explore a Raiders Academy.</span>
				<input type="text" placeholder="Nome Completo" />
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Senha" />
				<br>
					<label>
					<input type="radio" name="perfil" value="estudante">Estudante</label>
					<label>
						<input type="radio" name="perfil" value="professor">Professor</label>
				<button>Cadastrar</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<!-- linkar as # -->
			<form action="#">
				<h1>Já possui conta?</h1>
				<span>Faça login para continuar sua jornada conosco.</span>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Senha" />
				<!-- linkar as # -->
				<a href="#">Esqueceu sua senha?</a>
				<button>Entrar</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Bem-vindo de volta!</h1>
					<p>Estamos prontos para ajudar você a continuar estudando.</p>
					<button class="ghost" id="signIn">Faça seu login</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Olá, estudante!</h1>
					<p>Insira seus dados e inicie sua jornada de aprendizado ao lado de outros estudantes.</p>
					<button class="ghost" id="signUp">Crie sua conta</button>
				</div>
			</div>
		</div>
	</div>
	<script src="./script.js"></script>
</main>